.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #000;
    background-color: #fff;
    top: 100px;
    right: 50px;
    z-index: 5;

    .cart-item {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    button {
        margin-top: auto;
    }
}